.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--cor-4);
}
.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--cor-4);
}
.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--cor-4);
}
[data-semana]::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  margin-left: 4px;
  border: 1px solid var(--cor-1);
}
[data-semana].aberto::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 50%;
  margin-left: 4px;
  border: 1px solid var(--cor-1);
}
.btc-preco {
  background: greenyellow;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  border-radius: 4px;
}
