:root {
  --ff-1: "IBM Plex Mono", monospace;
  --ff-2: "Playfair Display SC", georgia;
  --ff-3: "Helvetica", Arial;

  --fw-n: 400;
  --fw-b: bold;

  --fs-xs: 0.875rem;
  --fs-s: 1rem;
  --fs-l: 3rem;
  --fs-xxl: 6rem;

  --lh-1: 1;
  --lh-2: 1.2;
  --lh-3: 1.43;
  --lh-4: 1.5;

  --ls-1: 0.1em;
}

body {
  -webkit-font-smoothing: antialiased;
}
.titulo {
  font-family: var(--ff-2);
  font-weight: var(--fw-n);
  font-size: var(--fs-xxl);
  line-height: var(--lh-1);
}
.menu li a {
  font-family: var(--ff-1);
  font-weight: var(--fw-b);
  font-size: var(--fs-s);
  letter-spacing: var(--ls-1);
  text-transform: uppercase;
}
.animais p {
  font-family: var(--ff-3);
  line-height: var(--lh-2);
}
.animais h2 {
  font-family: var(--ff-1);
  font-size: var(--fs-xs);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-1);
  text-transform: uppercase;
}
.faq-lista dt {
  font-family: var(--ff-1);
  font-weight: var(--fw-b);
}
.faq-lista dd {
  font-family: var(--ff-1);
}
.dados li {
  font-family: var(--ff-3);
}
.copy p {
  font-family: var(--ff-1);
  font-weight: var(--fw-b);
}
