.titulo {
  margin-bottom: 1rem;
  grid-column: 1/4;
}
.animais h2 {
  margin-bottom: 1rem;
}
.animais p {
  margin-bottom: 1rem;
}
.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais-lista::-webkit-scrollbar {
  width: 10px;
}
.animais-descricoes {
  grid-column: 3;
}
.animais-descricoes section {
  margin-bottom: 3rem;
}
