.numeros-grid {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.numeros-grid h3 {
  font-family: var(--ff-2);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.numeros-grid span {
  font-family: var(--ff-1);
  font-weight: var(--fw-b);
  font-size: 1.5rem;
  color: var(--cor-3);
}
