:root {
  --cor-0: #000;
  --cor-1: #222;
  --cor-2: #faf6ec;
  --cor-3: #e54;
  --cor-4: #f85;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-3);
}

.cor-bg-1 {
  background: var(--cor-2);
}
.cor-bg-2 {
  background: var(--cor-4);
}

.cor-border::-webkit-scrollbar-thumb {
  background: var(--cor-4);
  border-left: 4px solid var(--cor-2);
  border-right: 4px solid var(--cor-2);
}

/* Elements */
.menu li a {
  color: var(--cor-1);
}
.animais h2 {
  color: var(--cor-3);
}

.faq-lista dt {
  color: var(--cor-3);
}
