body {
  -webkit-font-smoothing: antialiased;
}
.menu li a {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 0.875rem;
}
.titulo {
  font-display: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
}
.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
}
.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
}
.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
.faq-lista dd {
  font-family: "IBM Plex Mono", monospace;
}
.dados li {
  font-family: Helvetica, Arial;
}
.copy p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
